<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>BillionaireMediumGrunge.ttf</string>
		<string>BigshouldersDisplay-Bold.ttf</string>
		<string>BigshouldersDisplay-Light.ttf</string>
		<string>BigshouldersDisplay-Medium.ttf</string>
		<string>BigshouldersDisplay-Regular.ttf</string>
		<string>BigshouldersDisplay-Thin.ttf</string>
		<string>Futura-Bold.ttf</string>
		<string>Futura-BoldItalic.ttf</string>
		<string>Futura-Light.ttf</string>
		<string>Futura-Medium.ttf</string>
		<string>FuturaCondensed-Light.otf</string>
		<string>Heptaslab-Bold.ttf</string>
		<string>Heptaslab-Light.ttf</string>
		<string>Heptaslab-Medium.ttf</string>
		<string>Heptaslab-Regular.ttf</string>
		<string>Heptaslab-Thin.ttf</string>
		<string>Jomolhari-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSansCondensed-Bold.ttf</string>
		<string>OpenSansCondensed-Light.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-BoldItalic.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-RegularItalic.otf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-Italic.ttf</string>
		<string>RobotoMono-Light.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-Thin.ttf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
